body{
    background-color: rgba(154, 233, 229, 0.899);
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.smallcat{
    width:100px;
    height:100px;
}
.bigcat{
    width:10cm;
    height:12cm;
}
.topcat{
    width:10cm;
    height:8cm;
}



h1{
    color:rgb(77, 5, 5);
    text-align:justify;

}
h2{
    color:rgb(77, 5, 5);
    text-align:justify;

}
p{
    font: size 25px;
    color:black;
}
td{
    padding: 20px;
}

.yes{
    background-color:rgb(226, 43, 159);
    color:rgb(0, 0, 0);
    border-color:black;
    font-style:bold;
    font-size: 18px;
    border-width: 4px;
    height:50px;
    width:105px;
    cursor:pointer;
    border-radius: 8px;
}

.no{
    background-color:rgb(221, 226, 71);
    color:rgb(0, 0, 0);
    border-color:black;
    font-style:bold;
    font-size: 18px;
    border-width: 4px;
    height:50px;
    width:140px;
    cursor:pointer;
    border-radius: 8px;
}

abbr{
    text-decoration: underline;
    cursor: help;
}